body{
	font-family: 'pxn-light', sans-serif;
	font-size: 3em;
	background-color: #15b6a1;
	color: #fff;
	text-align: center;
	line-height: 1;
}
#content-container {
	width: 70%;
	margin: 0 auto;
	margin-top: 100px;
	min-width: 418px;
}
.about-me {
	margin-bottom: 50px;
}
.about-me .name {
	font-family: 'pxn-bold', sans-serif;
}
.contact-me {
	margin-top: 50px;
}
.contact-me a {
	background-color: #5E43AF;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #463185;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'pxn-light', sans-serif;
	font-size: 25px;
	padding: 16px 40px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #5E43AF;
}
.contact-me a:hover {
	background-color: #7351da;
}
.contact-me a:active {
	position: relative;
	top: 1px;
}
.social-links {
	list-style-type: none;
	margin: 0 auto;
	width: 418px;
	margin-top: 50px;
}
.social-links li {
	float: left;
	margin-right: 50px;
}
.social-links li.last {
	margin-right: 0;
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
.clear:after {
    clear: both;
}
@font-face {
	font-family: 'pxn-bold';
	src: url('fonts/pxn_bold.woff') format('woff');
	font-weight: bold;
}
@font-face {
	font-family: 'pxn-light';
	src: url('fonts/pxn_light.woff') format('woff');
}